.location {
    background-color: #062226;
    border: 1px;
    padding: 20px;
    margin: 20px 0;
    width: 90%;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.location-name {
    color: chartreuse;
    text-align: center;
}
.location-features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}
.location-feature {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.location-feature span:last-child {
    color: hsl(90, 50%, 50%);
}