@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
/*----Reset-----*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
}
img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
ul {
  list-style: none;
}
input,
button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
}
button {
  border: none;
}
/*---App---*/
.content {
  min-height: 100vh;
  background-color: #05292E;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-title {
  text-align: center;
  padding: 20px;
  color: lightseagreen;
  font-family: 'Kdam Thmor Pro', sans-serif;
}
.content-form {
  display: flex;
  justify-content: center;
}
.content-input {
  border-radius: 3px 0 0 3px;
}
.content-btn {
  border-radius: 0 3px 3px 0;
  padding: 5px 15px;
  background-color: #062226;
  color: inherit;
}
.content-app {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}